<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Andev Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://use.typekit.net/ons4itg.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;0,600;0,700;1,400'><link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="menu-overlay">
        <nav id="primary_navigation">
            <ul>
                <li data-text="Home"><a href="#">Home</a></li>
                <li data-text="About"><a href="#">About</a></li>
                <li data-text="Work"><a href="#">Work</a></li>
                <li data-text="Blog"><a href="#">Blog</a></li>
                <li data-text="Contact"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>

